
<div class="create-planet">
  <h2>Create a new planet</h2>
  <%= simple_form_for @planet, html: { multipart: true } do |f| %>
    <%= f.input :name, label: false, placeholder: "Name" %>
    <%= f.input :galaxy, label: false, placeholder: "Galaxy" %>
    <%= f.input :size, label: false, placeholder: "Size" %>
    <%= f.input :price_per_day, label: false, placeholder: "Price per day" %>
    <%= f.input :kind, label: false, placeholder: "Kind" %>
    <%= f.input :content, label: false, placeholder: "Content", hint: "140 characters max" %>
    <%= f.input :photo, label: false, placeholder: "Photo" %>

  <div class="form-actions">
    <%= f.button :submit, "Create a new planet", class: "btn-main" %>
  </div>
  <% end %>
  <%= link_to "Cancel ", owner_planets_path, class: "btn-decline" %>
</div>
