
<div class="reservation-container">
  <% @reservations.each do |reservation|%>
    <%= link_to planet_path(reservation.planet.id),  class: "reservation-list" do %>
      <%= cl_image_tag reservation.planet.photo.key, class: "reservation-image-list"%>
      <div class= "reservations-content" >
        <div class="reservation-card-title">
          <div class="reservation-status">
            <p><%= reservation.status.capitalize %></p>
          </div>
          <h1 class="reservation-card-text-title"><%= reservation.planet.name.capitalize %></h1>
          <div class="reservation-rating-card">
            <p><%= reservation.planet.rating %></p>
            <%= image_tag "https://res.cloudinary.com/dr4d7enko/image/upload/v1685558411/space-bnb/icons-picutre/star_1_qtposl.svg" %>
          </div>
        </div>

        <div class="reservation-planets-type">
          <h2 class="reservation-card-galaxy"><%= reservation.planet.galaxy.capitalize %></h2>
          <h3 class="reservation-card-kind"><%= reservation.planet.kind %></h3>
        </div>
        <div class="reservation-infos">
          <div class="reservation-planets-price">
            <p class="reservation-planets-price-text"><%= reservation.planet.price_per_day %></p>
            <%= image_tag "https://res.cloudinary.com/dr4d7enko/image/upload/v1685525826/space-bnb/icons-picutre/btc-per-day_x638y7.svg"%>
          </div>
          <div class="reservation-planets-size">
            <p class="reservation-planets-size-text"><%= reservation.planet.size %> <span>km</span></p>
            <%= image_tag "https://res.cloudinary.com/dr4d7enko/image/upload/v1685624550/space-bnb/icons-picutre/diameter_naqwxi.svg"  %>
          </div>
        </div>
        <hr> <!-- This is the line that separates the planet from the renter -->
        <div class="reservation-infos-renter">
          <%= cl_image_tag reservation.renter.photo.key, class: "reservation-renter-avatar" %>
          <p class="reservation-renter"><%= reservation.renter.first_name %> <%= reservation.renter.last_name %></p>
          <p class="reservation-dates"><%= reservation.start_date.strftime("%d/%m/%Y") %> <%= reservation.end_date.strftime("%d/%m/%Y") %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
