<nav class="nav-container">
  <div class="nav">
    <%= link_to root_path, class: "logo-container" do %>
      <%= image_tag("https://res.cloudinary.com/dr4d7enko/image/upload/v1685449782/space-bnb/icons-picutre/planet_aqeam0.svg", class: "logo-svg") %>
      SpaceBnB
    <% end %>

    <%= form_with url: planets_path, method: :get, class: "search-bar" do %>
      <button type="submit" class="search-btn"><%= image_tag("https://res.cloudinary.com/dr4d7enko/image/upload/v1685455086/space-bnb/icons-picutre/search_opt3qg.svg") %></button>
      <%= text_field_tag :query,
            params[:query],
            class: "search-input",
            placeholder: "Search your universe..."
        %>
    <% end %>

    <% if user_signed_in? %>
      <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <% if current_user.photo.attached?  %>
          <%= cl_image_tag current_user.photo.key, class: "avatar", alt: "dropdown menu" %>
        <% else %>
          <%= image_tag "https://res.cloudinary.com/dr4d7enko/image/upload/v1685479554/space-bnb/user-profile-picture/Windows-10-user-icon-big_atm8bb.png", class: "avatar", alt: "dropdown menu" %>
        <% end %>
      </a>
        <div class="dropdown-menu dropdown-menu-end navbar-menu" aria-labelledby="navbarDropdown">
          <%= link_to "All my planets", owner_planets_path, class: "menu-link" %>
          <%= link_to "All my reservations", owner_reservations_path, class: "menu-link" %>
          <div class="separator"></div>
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "btn-decline" %>
        </div>
      </li>
    <% else %>
      <div class="links-container">
        <%= link_to "Sign Up", new_user_registration_path, class: "btn-main" %>
        <%= link_to "Log In", new_user_session_path, class: "btn-second" %>
      </div>
    <% end %>
    </div>
  </div>
</nav>
