<script
    type="module"
    src="https://cdn.jsdelivr.net/npm/wc-datepicker/dist/esm/wc-datepicker.js"
  ></script>

<div class="planet-container">
  <div class="left-container">
    <div class="top-left">
      <%= cl_image_tag @planet.photo.key, class: "planet-image-show" %>
      <div class="info-container">
        <div class="price">
          <p><strong><%= @planet.price_per_day %></strong></p>
          <%= image_tag "https://res.cloudinary.com/dr4d7enko/image/upload/v1685525826/space-bnb/icons-picutre/btc-per-day_x638y7.svg" %>
        </div>
      <p><strong><%= @planet.size %></strong> km</p>
      </div>
    </div>

    <div class="bottom-left">

      <div class="owner-info-container">
        <div class="owner-info">
          <% if @planet.owner.photo.attached?  %>
            <%= cl_image_tag @planet.owner.photo.key, class: "avatar-large"%>
          <% else %>
            <%= image_tag "https://res.cloudinary.com/dr4d7enko/image/upload/v1685479554/space-bnb/user-profile-picture/Windows-10-user-icon-big_atm8bb.png", class: "avatar-large", alt: "dropdown menu" %>
          <% end %>
          <p class="owner-name"><strong><%= @planet.owner.first_name %> <%= @planet.owner.last_name %></strong></p>
        </div>
        <div class="rating">
            <%= image_tag "https://res.cloudinary.com/dr4d7enko/image/upload/v1685558411/space-bnb/icons-picutre/star_1_qtposl.svg"%>
            <p><%= @planet.owner.rating %></p>
        </div>
      </div>
    </div>

  </div>

  <div class="right-container">
    <div class="top-right">
      <div class="title-container">
        <h1><%= @planet.name %></h1>
        <div class="rating">
          <%= image_tag "https://res.cloudinary.com/dr4d7enko/image/upload/v1685558411/space-bnb/icons-picutre/star_1_qtposl.svg"%>
          <p><%= @planet.rating %></p>
        </div>
      </div>

      <div class="info-container">
        <h2><%= @planet.galaxy %></h2>
        <h3>( <%= @planet.kind %> )</h3>
      </div>
      <p><%= @planet.content %></p>
    </div>



    <div class="bottom-right">
      <div class="reservation-container" data-controller="daterange">
        <%= simple_form_for [@planet, @reservation] do |f| %>
          <div class="d-none"><%= f.input :daterange, input_html: { data: { daterange_target: "dateinput" } } %></div>
          <wc-datepicker disabled="false" range show-year-stepper="false" show-month-stepper="false" show-clear-button="false" show-today-button="false" id="datepicker" data-daterange-target="date" data-action="click->daterange#datecalculator"></wc-datepicker>
          <div class="submit-container">
            <%= f.button :submit, "Booking", class: "btn-main" %>
            <span data-daterange-target="totalprice" data-price="<%= @planet.price_per_day %>"></span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
