<script
    type="module"
    src="https://cdn.jsdelivr.net/npm/wc-datepicker/dist/esm/wc-datepicker.js"
  ></script>

<div class="planet-container">
  <div class="left-container">
    <div class="top-left">
      <%= cl_image_tag @planet.photo.key, class: "planet-image-show" %>
      <div class="info-container">
        <div class="price">
          <p><strong><%= @planet.price_per_day %></strong></p>
          <%= image_tag "https://res.cloudinary.com/dr4d7enko/image/upload/v1685525826/space-bnb/icons-picutre/btc-per-day_x638y7.svg" %>
        </div>
        <div class="planet-size">
            <p><strong><%= @planet.size %></strong>  km</p>
            <%= image_tag "https://res.cloudinary.com/dr4d7enko/image/upload/v1685624550/space-bnb/icons-picutre/diameter_naqwxi.svg"  %>
          </div>
      </div>
    </div>

    <div class="bottom-left">

      <div class="owner-info-container">
        <div class="owner-info">
          <% if @planet.owner.photo.attached?  %>
            <%= cl_image_tag @planet.owner.photo.key, class: "avatar-large"%>
          <% else %>
            <%= image_tag "https://res.cloudinary.com/dr4d7enko/image/upload/v1685479554/space-bnb/user-profile-picture/Windows-10-user-icon-big_atm8bb.png", class: "avatar-large", alt: "dropdown menu" %>
          <% end %>
          <p class="owner-name"><strong><%= @planet.owner.first_name %> <%= @planet.owner.last_name %></strong></p>
        </div>
        <div class="rating">
            <%= image_tag "https://res.cloudinary.com/dr4d7enko/image/upload/v1685558411/space-bnb/icons-picutre/star_1_qtposl.svg"%>
            <p><%= @planet.owner.rating %></p>
        </div>
      </div>
    </div>

  </div>

  <div class="right-container">
    <div class="top-right">
      <div class="title-container">
        <h1><%= @planet.name %></h1>
        <div class="rating">
          <%= image_tag "https://res.cloudinary.com/dr4d7enko/image/upload/v1685558411/space-bnb/icons-picutre/star_1_qtposl.svg"%>
          <p><%= @planet.rating %></p>
        </div>
      </div>

      <div class="info-container">
        <h2><%= @planet.galaxy %></h2>
        <h3><%= @planet.kind %></h3>
      </div>
      <p><%= @planet.content %></p>
    </div>



    <div class="bottom-right">
      <div data-controller="daterange">
        <%= simple_form_for [@planet, @reservation] do |f| %>
          <div class="d-none"><%= f.input :daterange, input_html: { data: { daterange_target: "dateinput" } } %></div>
          <wc-datepicker disabled="false" range show-year-stepper="false" show-month-stepper="false" show-clear-button="false" show-today-button="false" id="datepicker" data-daterange-target="date" data-action="click->daterange#datecalculator"></wc-datepicker>
          <button type="submit" class="btn-main">
            <span>Booking</span>
            <div class="price-value">
              <span data-daterange-target="totalprice" data-price="<%= @planet.price_per_day %>">0</span>
              <%= image_tag "https://res.cloudinary.com/dr4d7enko/image/upload/v1685628907/space-bnb/icons-picutre/bitcoin_s8x5wu.svg" %>
            </div>
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if !@reservation.nil? && @reservation.errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show m-1" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    Enter a valid date please.
  </div>
<% end %>
